/* You can add global styles to this file, and also import other style files */
.mat-form-field {
    width: 100%;
}

.prompt-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 5px;
}

.btn-right{
    float: right;
}

textarea.data-description {
    height: 200px;
    padding: 5px;
}